{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Draft }}[Draft] {{ end }}{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
  
  {{ if  .Params.hidden }}
  <div id=sub-header>
    Last modified · {{ .Lastmod.Format "January 2, 2006" }} · 
  </div>
  {{ end }}


  {{ if not .Params.hidden }}
  <div id=sub-header>
    {{ .Date.Format (.Site.Params.dateform | default "Mon Jan 2 2006") }} · {{ .ReadingTime }} minute read
    · (last modified on {{ .Lastmod.Format "January 2, 2006" }})
  </div>

  

  {{ end }}

  <div class="entry-content">
    {{ .Content }}

    {{ if .Site.Params.blogRepository }}
      {{ if not .Params.hidden }}
      <script src="https://utteranc.es/client.js"
          repo="{{ .Site.Params.blogRepository }}"
          issue-term="title"
          theme="github-light"
          crossorigin="anonymous"
          async>
      </script>
      {{ end }}
     {{ end }}

  </div>

  <div id=links>
    {{ if .PrevInSection }}
      <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">⟸ {{.PrevInSection.Title}} </a>
    {{ end }}
    
    {{ if .NextInSection }}
      <a class="basic-alignment left" href="{{.NextInSection.Permalink}}"> {{.NextInSection.Title}} ⟹</a>
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}


