{{ partial "header.html" . }}

<pre style="max-width:100%; white-space:normal;">
{{ .Site.Params.blogHeader  }}
</pre>

<section style="float: right; padding-right: 25%; text-decoration: none;">
  <a style="padding: 5px;" href="/">&EmptySmallSquare; Home</a>
  <a style="padding: 5px;" href="/posts">&circlearrowright; Posts</a>
  <a style="padding: 5px;" href="/about">&bbrktbrk; About</a>
</section>

<section id=content>
  <ul class=posts_listing>
    {{ range first 7 .Site.RegularPages }}

    {{ if not .Params.hidden }}


    <li>
      <h2><a href="{{ .Permalink }}">{{ if .Draft }}[Draft] {{ end }}{{ .Title }}</a></h2>
      <div id=date>
        <time>{{ .Date.Format (.Site.Params.dateform | default "Mon Jan 2 2006") }}</time>
      </div>

      {{ if .Params.description }}
      <blockquote>
        {{ .Params.description }}
      </blockquote>
      {{ end }}

    </li>
    {{ end }}

    {{ end }}
  </ul>
</section>



{{ partial "footer.html" . }}